@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opcional: Estilo para ocultar scrollbar pero permitir scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
